<!DOCTYPE html>
<html ng-app="sia" lang="en">
  
  <head>
    <meta name="sia-mobile-web-app-capable" content="yes" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title>SIA Mobile</title>
    <link rel="stylesheet" href="lib/bootmetro/css/bootstrap.css" media="screen" />
    <link rel="stylesheet" href="lib/bootmetro/css/bootmetro.css" />
    <link rel="stylesheet" href="lib/bootmetro/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="lib/bootmetro/css/bootmetro-tiles.css" />
    <link rel="stylesheet" href="lib/bootmetro/css/bootmetro-charms.css" />
    <link rel="stylesheet" href="lib/bootmetro/css/metro-ui-light.css" />
    <link rel="stylesheet" href="lib/bootmetro/css/icomoon.css" />
    <link rel="stylesheet" href="lib/workspace.css" />
     <!-- Phonegap-->
   <!--  <script type="text/javascript" src="lib/phonegap/cordova.js"></script> -->
    
    <script type="text/javascript">
      var device_platform = "";
      var device_model = "";
      var device_version = "";
      function onLoad() {
        document.addEventListener("deviceready", onDeviceReady, false);
      }

      // Cordova is loaded and it is now safe to call Cordova methods
      //
      function onDeviceReady() {
          // Register the event listener
          document.addEventListener("backbutton", onBackKeyDown, false);
          document.addEventListener("menubutton", onMenuKeyDown, false);
          device_platform = device.platform;
          device_model = device.model;
          device_version = device.version;
      }

      // Handle the back button
      //
      function onBackKeyDown() {
        var a = $(location).attr('hash');
        if (a.indexOf("login") == -1) {
            $('#charms').charms('close');
            $('.jo-backdrop').fadeOut('fast');
        }else{
          $('#modal').modal('show');
        }
      }
      
       // Handle the menu button
    //
      function onMenuKeyDown() {
        var a = $(location).attr('hash');
        if (a.indexOf("login") == -1) {
          $('#charms').charms('showSection', 'theme-charms-section');
          $('.jo-backdrop').fadeIn('slow');
        }
      }
    </script>


  </head>
  
  <body ng-controller="RootCtrl" onload="onLoad()">          
    
    <div class="container-fluid" id="content">
      <div class="row-fluid" ng-view></div>
    </div>

    <div class="jo-backdrop"></div>
    <div class="jo-ajax"></div>
    <!-- Pesan Keluar-->
    <div id="modal" ui-modal class="modal hide fade message" ng-model="out.shown" data-backdrop="false">
      <div class="modal-body"> 
        <legend>Keluar</legend>
        Apakah anda ingin keluar??
      </div>
      <div class="modal-footer">
          <a class="btn" ng-click="out.hide()">Tidak</a>
          <a class="btn btn-primary" ng-click="out.close()">Ya</a>
      </div>
    </div>
    
    
    <!-- Javascript Library -->
   <script src="lib/bootmetro/js/jquery-1.8.2.min.js"></script>

    <!-- AngularJS -->
    <script src="lib/angularjs/js/angular.min.js"></script>
    <script src="lib/angularjs/js/mobile-nav.min.js"></script>
    <script src="lib/angularjs/js/angular-bootstrap.min.js"></script>
    <!-- Bootmetro -->
    <script src="lib/bootmetro/js/bootstrap.min.js"></script>
    <script src="lib/bootmetro/js/bootmetro.js"></script>
    <script src="lib/bootmetro/js/bootmetro-charms.js"></script>
    <script src="lib/bootmetro/js/bootstrap-modal.js"></script>
    <script src="lib/bootmetro/js/bootstrap-alert.js"></script>

    <script src="lib/overthrow.js"></script>
    <script src="lib/jquery.autosize-min.js"></script>


    <!-- App -->
    <script src="js/directive.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/page.js"></script>
  </body>
</html>
