<div ui-modal class="modal hide fade warning" ng-model="warning.shown" data-backdrop="false">
  <div class="modal-body"> 
    Tidak ada koneksi
  </div>
  <div class="modal-footer">
   	<button class="btn btn-large" data-dismiss="modal">OK</button>
  </div>
  
</div>