<style type="text/css">
	td{
		font-weight: bold
	}
</style>
<ng-include ng-controller="HeaderCtrl" ng-hide="hideMenu" src="'partial/header.html'"></ng-include>
<div jofade class="span12 main-content">
    <div><h3>{{title}}</h3></div>
    <div style="text-align:center"><br><br>
		<h1>Mobile SIA</h1>
		<br>
		<h3>Versi 1.1</h3>
		<h4>Pengembang : Joko Munandar</h4>
		<br/><br/>
		<table class="table">
			<caption><b>Detail Data Pengembang</b></caption>
	    	<tr>
	    		<td>Nama</td>
	    		<td>Joko Munandar</td>
	    	</tr>
	    	<tr>
	    		<td>NIM</td>
	    		<td>09650048</td>
	    	</tr>
	    	<tr>
	    		<td>Fakultas</td>
	    		<td>Sains & Teknologi</td>
	    	</tr>
	    	<tr>
	    		<td>Program Studi</td>
	    		<td>Teknik Informartika</td>
	    	</tr>
	    	<tr>
	    		<td>Email</td>
	    		<td>jokwon_tkd@yahoo.com</td>
	    	</tr>
	    	<tr>
	    		<td>Twitter</td>
	    		<td>@masjo91</td>
	    	</tr>
	    	<tr>
	    		<td>Facebook</td>
	    		<td>https://www.facebook.com/joko.munandar</td>
	    	</tr>
	   </table>
	</div>
</div>